
    <div class="footer parbase aem-GridColumn aem-GridColumn--default--12">
      <footer>
        <article>
        
         
          <div class="container pt50 pb50">
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-12">
                <h3 class="ftr-head mt-xs-20">Company</h3>
                <ul class="list-unstyled footer-txt">
      			
      				<li><a href="about.html">About Us</a></li>
      			
              <li><a href="partners.html">Partnership</a></li>

      				<li><a href="careers.html">Careers</a></li>
      			
      				<li><a href="business-model.html">Business Model</a></li>
      			
      				<li><a href="clients.html">Those We Serve</a></li>
      			
                </ul>
              </div>

              <div class="col-md-3 col-sm-3 col-xs-12">
                <h3 class="ftr-head mt-xs-20">Projects</h3>
                <ul class="list-unstyled footer-txt">
                  
      				<li><a href="http://enumeration.byteworks.com.ng/" target="_blank">Enumaration as a Service (EAAS)</a></li>
      			
      				<li><a href="#">Paymat</a></li>
      			
      				<li><a href="http://cashpos.byteworks.com.ng/" target="_blank">CashPOS</a></li>
      			
      				<li><a href="https://nimccbs.gov.ng/">Convergent Billing System (CBS)</a></li>
      			
      				<li><a href="http://esbnidms.byteworks.com.ng/">IDMS (Enugu State)</a></li>
      			
                </ul>
              </div>

              <div class="col-md-3 col-sm-3 col-xs-12">
                <h3 class="ftr-head mt-xs-20">Support</h3>
                <ul class="list-unstyled footer-txt">
                 
      				<li><a href="#">Terms of Use</a></li>
      			
      				<li><a href="#">Privacy Statement</a></li>
      			
      				<li><a href="#">Cookie Policy</a></li>
      			
      				<li><a href="#">Trademarks</a></li>
      			
      				<li><a href="#">Payment Guide for Suppliers</a></li>
      			
                </ul>
              </div>

              <div class="col-md-3 col-sm-12 col-xs-12">
                <h3 class="ftr-head mt-sm-20">Connect with us</h3>
                <ul class="list-inline footer-txt">
      		  
                  <li><a title="Twitter" target="_blank" href="http://twitter.com/byteworksng/">
                      <image src="content/dam/infosys-web/en/global-resource/background-image/twitter.svg" width="16" height="16"/>
                    </a></li>
                  
                  <li><a title="Facebook" target="_blank" href="http://facebook.com/byteworksng/">
                      <image src="content/dam/infosys-web/en/global-resource/background-image/facebook.svg" width="16" height="16"/>
                    </a></li>
                  
                  <li><a title="LinkedIn" target="_blank" href="https://ng.linkedin.com/company/byteworks-technology-solutions">
                      <image src="content/dam/infosys-web/en/global-resource/background-image/linkedin.svg" width="16" height="16"/>
                    </a></li>
                  
                  <li><a title="Youtube" target="_blank" href="https://www.youtube.com/channel/UCLBajnssboqYGobRlHgwGJA">
                      <image src="content/dam/infosys-web/en/global-resource/background-image/youtube.svg" width="16" height="16"/>
                    </a></li>
                  
                </ul>
              </div>

            </div>

          </div>
          <div class="container-fluid ptb15 bg-white">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-sm-7 col-xs-12">
                  <p class="mb0">Copyright © 2020 ByteWorks Technology Solutions Limited</p>

                </div>

              </div>

            </div>

          </div>

        </article>

      </footer>
      <a href="javascript:void(0)" class="scroll-up">
          <img src="content/dam/infosys-web/en/global-resource/background-image/arrow_up.png" alt="Arrow up" class="img-responsive"/>
      </a>
    </div>