    <div class="header aem-GridColumn aem-GridColumn--default--12">
        <header>
            <nav class="navbar navbar-default navbar-fixed-top scrollbg-show" role="navigation">
                <div class="container mt45">
                    <div class="navbar-header page-scroll">
                        <a class="navbar-brand" href="index.html">
                          <img src="content/dam/infosys-web/burger-menu/en/images/logo.png" alt="Byteworks Logo" class="img-responsive logo-inner" style="height: 35px; margin: 0;">
                        </a>
                    </div>
                    <style type="text/css">
                        .navbar-nav a{
                            color: #777!important;
                        }
                        .navbar-nav a:hover{
                            color: #777!important;
                        }
                    </style>
                    <div class="header-menu hidden-tab">
                        <ul class="nav navbar-nav navbar-right pos-right">

                            <li> <a href="about.html" title="About Us" >About Us</a> </li>

                            <li> <a href="services.html" title="Services">Sevices</a> </li>

                            <li> <a href="contact.html" title="Contact Us">Contact Us</a> </li>

                        </ul>

                    </div>

                </div>
                <div class="progressbar">
                    <div class="width"></div>
                </div>
            </nav>
        </header>
    </div>
    <div class="experiencefragment aem-GridColumn aem-GridColumn--default--12">
        <div class="xf-content-height">
            <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                <div class="freeflowhtml aem-GridColumn aem-GridColumn--default--12">
                    <!-- Custom CSS -->
                    <link href="content/dam/infosys-web/burger-menu/en/css/burger-menu.css" rel="stylesheet">
                    <!-- Burger Menu START -->
                    <div class="burger-search-wrapper navbar-fixed-top">
                        <div class="container">
                            <div class="hamburger-menu">
                                <div class="menu-bg"></div>
                                <div class="circle"></div>
                                <div class="menu">
                                    <div class="fix-menu hidden-sm hidden-xs">
                                        <div class="col-md-3 col-sm-12 col-xs-12 automate" style="background: #df9926 url(assets/images/menu-reverse-logo.png) no-repeat scroll -150px 65px;">
                                            <a href="revenue-management.html" title="Revenue Automation Consulting">
                                                <h2 class="head-txt">Revenue Automation Consulting</h2>
                                                <p class="sub-head hidden-sm hidden-xs">The ICS is an enterprise solution for institution and governments that help collect, account report and assure revenues.</p>
                                            </a>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12 innovate" style="background: #006e99;">
                                            <a href="identity-management.html" title="Biometric based Enrolment Services">
                                                <h2 class="head-txt">Biometric based Enrolment Services</h2>
                                                <p class="sub-head hidden-sm hidden-xs">Byteworks Technology Solutions Limited designs custom and bespoke enterprise applications for client in both public and private sectors. </p>
                                            </a>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12 learn" style="background: #963596;">
                                            <a href="e-govenment-portfolio.html" title="Data Transformation Services">
                                                <h2 class="head-txt">e-Government Consulting</h2>
                                                <p class="sub-head hidden-sm hidden-xs">This focus over the years has allowed us develop and support certain national projects in Nigeria</p>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- About Menu -->
                                    <div class="industries-menu wow animated fadeOutRightBig" data-wow-duration="0.3s" style="display: block;">
                                        <div class="cross visible1024-cross">
                                            <a title="close" href="javascript:void(0);" alt="Cross"> <img src="content/dam/infosys-web/burger-menu/en/images/multiply.svg" alt="Cross"> </a>
                                        </div>
                                        <div class="submenu-portion">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <h2 class="h2-heading mb10">About Us</h2>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12 align-list">
                                                <ul class="list-unstyled li-separator">
                                                    <li> <a title="Overview" href="about.html">Overview</a> </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12 align-list">
                                                <ul class="list-unstyled li-separator">
                                                    <li> <a title="Business Model" href="business-model.html">Business Model</a> </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-sm-12 col-xs-12 align-list">
                                                <ul class="list-unstyled li-separator">
                                                    <li> <a title="History and Timeline" href="history.html">History and Timeline</a> </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-sm-12 col-xs-12 align-list">
                                                <ul class="list-unstyled li-separator">
                                                    <li> <a title="Our People" href="team.html">Our People</a> </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-sm-12 col-xs-12 align-list">
                                                <ul class="list-unstyled li-separator">
                                                    <li> <a title="Those We Serve" href="clients.html">Those We Serve</a> </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-sm-12 col-xs-12 align-list">
                                                <ul class="list-unstyled li-separator">
                                                    <li> <a title="Partners" href="partners.html">Partners</a> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- What We Do Menu -->
                                    <div class="services-menu wow animated fadeInLeftBig" data-wow-duration="0.3s" style="display: block;">
                                        <div class="cross visible1024-cross">
                                            <a title="close" href="javascript:void(0);"> <img src="content/dam/infosys-web/burger-menu/en/images/multiply.svg" alt="Cross"> </a>
                                        </div>
                                        <div class="submenu-portion">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <h2 class="h2-heading mb10">What We Do</h2>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12 align-list">
                                                <ul class="list-unstyled li-separator">
                                                    <li> <strong class="hear-txt-sub">Products</strong></li>
                                                    <li> <a title="Revenue Management Solutions" href="revenue-management.html">Revenue Management Solutions</a> </li>
                                                    <li> <a title="e-Government Portfolio" href="e-govenment-portfolio.html">e-Government Portfolio</a> </li>
                                                    <li> <a title="Payroll management" href="payroll-management.html">Payroll Management</a> </li>
                                                    <li> <a title="Identity Management Portfolio" href="identity-management.html">Identity Management Portfolio</a> </li>
                                                    <li> <a title="Mobile Applications" href="mobile-apps.html">Mobile Applications</a> </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12 align-list">
                                                <ul class="list-unstyled li-separator">
                                                    <li> <a title="Services" href="services.html">Services</a> </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-sm-12 col-xs-12 align-list">
                                                <ul class="list-unstyled li-separator">
                                                    <li> <a title="Projects" href="projects.html">Projects</a> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Platform Menu -->
                                    <div class="platforms-menu wow animated fadeInLeftBig" data-wow-duration="0.3s" style="display: none;">
                                        <div class="cross visible1024-cross">
                                            <a title="close" href="javascript:void(0);"> <img src="content/dam/infosys-web/burger-menu/en/images/multiply.svg" alt="Cross"> </a>
                                        </div>
                                        <div class="submenu-portion">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <h2 class="h2-heading mb10">Resources</h2>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12 align-list">
                                                <ul class="list-unstyled li-separator">
                                                    <li> <a title="Corporate Profile" href="corporate-profile.html">Corporate Profile</a> </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12 align-list">
                                                <ul class="list-unstyled li-separator">
                                                    <li> <a title="Product Guides" href="documents/byteone-guide.pdf" target="_blank">Product Guides</a> </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-sm-12 col-xs-12 align-list">
                                                <ul class="list-unstyled li-separator">
                                                    <li> <a title="Support Center" href="support-center.html">Support Center</a> </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-sm-12 col-xs-12 align-list">
                                                <ul class="list-unstyled li-separator">
                                                    <li> <a title="HSE Policy" href="documents/hse-policy.pdf" target="_blank">HSE Policy</a> </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-sm-12 col-xs-12 align-list">
                                                <ul class="list-unstyled li-separator">
                                                    <li> <a title="Press Kit" href="documents/BrandIdentityUsage-Ver1.pdf" target="_blank">Press Kit</a> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Side Menu Title -->
                                    <div class="col-md-3 col-sm-12 col-xs-12 menuItems">
                                        <a href="#"> <img src="content/dam/infosys-web/burger-menu/en/images/logo.png" alt="Byteworks Logo" class="img-responsive logo-inner" style="height: 35px;"> </a>
                                        <ul class="list-unstyled">
                                            <li class="" title="Home"> <a href="index.html" title="Home" target="_self">Home<span class="un-line hidden-sm hidden-xs hidden-tab"></span> </a> </li>
                                            <li class="" title="Who We Are"> <a href="javascript:void(0)" title="Who We Are" class="industries" target="_self">Who We Are<span class="un-line hidden-sm hidden-xs hidden-tab"></span> </a> </li>
                                            <li class="" title="What We Do"> <a href="javascript:void(0)" title="What We Do" class="services" target="_self">What We Do<span class="un-line hidden-sm hidden-xs hidden-tab"></span> </a> </li>
                                            <li class="" title="Resources"> <a href="javascript:void(0)" title="Resources" class="platforms" target="_self">Resources<span class="un-line hidden-sm hidden-xs hidden-tab"></span> </a> </li>
                                            <li class="smalltext" title="Partners"> <a href="partners.html" title="Partners" class="hover-menu-hide" target="_self">Partners<span class="un-line hidden-sm hidden-xs hidden-tab"></span> </a> </li>
                                            <li class="smalltext" title="Careers"> <a href="careers.html" title="Careers" class="hover-menu-hide" target="_self">Careers<span class="un-line hidden-sm hidden-xs hidden-tab"></span> </a> </li>
                                            <li class="smalltext" title="Contact Us"> <a href="contact.html" title="Contact Us" class="hover-menu-hide" target="_self">Contact Us<span class="un-line hidden-sm hidden-xs hidden-tab"></span> </a> </li>
                                            <li class="social-icons" title="Linked in">
                                                <a title="LinkedIn" target="_blank" href="https://ng.linkedin.com/company/byteworks-technology-solutions">
                                                    <svg width="16" height="16">
                                                        <image xlink:href="content/dam/infosys-web/burger-menu/en/images/linkedin.svg" src="content/dam/infosys-web/burger-menu/en/images/linkedin.svg" width="16" height="16"></image>
                                                    </svg>
                                                </a>
                                            </li>
                                            <li class="social-icons" title="Twitter">
                                                <a title="Twitter" target="_blank" href="http://twitter.com/byteworksng/">
                                                    <svg width="16" height="16">
                                                        <image xlink:href="content/dam/infosys-web/burger-menu/en/images/twitter.svg" src="content/dam/infosys-web/burger-menu/en/images/twitter.svg" width="16" height="16"></image>
                                                    </svg>
                                                </a>
                                            </li>
                                            <li class="social-icons" title="Facebook">
                                                <a title="Facebook" target="_blank" href="http://facebook.com/byteworksng/">
                                                    <svg width="16" height="16">
                                                        <image xlink:href="content/dam/infosys-web/burger-menu/en/images/facebook.svg" src="content/dam/infosys-web/burger-menu/en/images/facebook.svg" width="16" height="16"></image>
                                                    </svg>
                                                </a>
                                            </li>
                                            <li class="social-icons" title="YouTube">
                                                <a title="Youtube" target="_blank" href="https://www.youtube.com/channel/UCLBajnssboqYGobRlHgwGJA">
                                                    <svg width="16" height="16">
                                                        <image xlink:href="content/dam/infosys-web/burger-menu/en/images/youtube.svg" src="content/dam/infosys-web/burger-menu/en/images/youtube.svg" width="16" height="16"></image>
                                                    </svg>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="burger">
                                    <div class="icon-bar1"></div>
                                    <div class="icon-bar2"></div>
                                    <div class="icon-bar3"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Burger Menu End -->
                </div>
            </div>
        </div>
    </div>
