        <div class="breadcrumb aem-GridColumn aem-GridColumn--default--12">
          <div style="background-color:#0000">
            <section class="breadcrumb-menu">
              <article class="container">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="listmenu">
                      <div class="hero-list">
                        <ol class="breadcrumb rmv-breadcrum navbar-left hidden-tab">
                          <li class="dropdown mega-dropdown">
                            <a href="#" class="dropdown-toggle disabled" data-toggle="dropdown">Resources <i class="fa fa-chevron-circle-down reverseArrow" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu mega-dropdown-menu row">
                              <li class="col-md-6">
                                <ul>
                                  <li class="dropdown-header" ${itemsList.sectionTitle}>
                                      <a title="Sports Partnerships">Resources</a>
                                  </li>
                                  <li class="divider"></li>
                                  <!-- divider class removed due to issue in aboutus page-->
                                  <li>
                                      <a title="Corporate Profile" href="corporate-profile.html">Corporate Profile</a>
                                  </li>
                                  <li>
                                      <a title="Product Guides" href="documents/byteone-guide.pdf" target="_blank">Product Guides</a>
                                  </li>
                                  <li>
                                      <a title="Support Center" href="support-center.html">Support Center</a>
                                  </li>
                                </ul>
                              </li>

                              <li class="col-md-6">
                                <ul>
                                  <li class="dropdown-header" ${itemsList.sectionTitle}>
                                      <a title="Sports Partnerships">...</a>
                                  </li>
                                  <li class="divider"></li>
                                  <!-- divider class removed due to issue in aboutus page-->
                                  <li> 
                                    <a title="HSE Policy" href="documents/hse-policy.pdf" target="_blank">HSE Policy</a> 
                                  </li>
                                  <li>
                                      <a title="Press Kit" href="documents/BrandIdentityUsage-Ver1.pdf" target="_blank">Press Kit</a>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                          </li>
                        </ol>
                        <p class="hidden-list strip-head hidden-tab"></p>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </section>
          </div>
        </div>